# ----------------------------------------------------------------------------
# 环境变量管理
# ----------------------------------------------------------------------------

# 环境变量加载
python-dotenv>=1.0.0


